.container {
    display: flex;
}

#header {
   background-color: rgba(0, 0, 0, 0.1);
}

#slider {
    padding: 50px 0;
    background-color: #000;
}

#slider .owl-carousel {
    position: relative;
    transition: all .5s;
}

#slider .owl-nav button i {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    opacity: 0.7;

}

#slider .owl-nav button i.fa-chevron-left {
    left: 30px;
} 

#slider .owl-nav button i.fa-chevron-right {
    right: 30px;
} 

#slider .owl-carousel:hover .owl-nav button i{
    display: flex;
}

#slider .owl-carousel:hover .owl-nav button i.fa-chevron-left {
    left: 20px;
} 


#slider .owl-nav button i:hover {
    opacity: 1;
    background-color: #000;
    border: none;
}

#slider .fa-chevron-left:before {
    margin-left: -2px;
}

#slider .fa-chevron-right:before {
    margin-right: -2px;
}

#slider .owl-dots {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

#slider .owl-dots .owl-dot span {
    width: 40px;
    height: 4px;
    margin: 0px 4px;
    background: #fff;
    opacity: 0.6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
}

#slider .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    opacity: 1;
}

#slider .slider-item {
    position: relative;
}

#slider .slider-item-content {
    position: absolute;
    width: 40%;
    top: 60px;
    right: 50px;
    background-color: rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    padding: 15px 15px 10px 10px;
    color: #fff;
    text-align: right;
}

#slider .content__header {
    font-size: 2.9em;
    font-weight: 700;
    letter-spacing: .05em;
    line-height: 1;
    margin-bottom: 0.2em;
    display: flex;
    flex-direction: column;
}

#slider .content__body {
    color: #f1f1f1;
    margin-top: 1em;
    margin-bottom: 1em;
}

#explore {
    background-color: #000;
    color: #fff;
    padding-top: 20px;
}

#explore .explore__header {
    text-align: center;
    font-size: 3.5em;
}

#explore .explore__header  span {
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 0.5em;
    text-rendering: optimizeSpeed;
}

#explore .explore-body {
    display: flex;
    padding-top: 40px;
}

#explore .explore-item {
    padding: 30px 30px 20px;
    flex: 1;
    min-height: 488px;
    position: relative;
}

#explore .item__header a {
    color: #fff;
    font-size: .7em;
    font-weight: 700;
}

#explore .item__name {
    position: relative;;
}

#explore .item__name::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    transform: translateY(-50%);
    right: calc(100% + 10px);
    bottom: 8px;
    background: linear-gradient( 90deg , #FFFFFF 0.01%, #FEEDE4 7.56%, #FBC6B2 22.7%, #F9AA8F 33.01%, #F15B40 66.01%, #ED1C24 100.01%);
}

#explore .item__name a {
    font-size: .8em;
    font-weight: 700;
    color: #fff;
}

#explore .item__description {
    font-size: 14px;
    text-align: justify;
    line-height: 1.6;
}

#explore .item__view-details {
    display: flex;
    align-items: center;
    opacity: 0.8;
}

#explore .item__view-details:hover {
    cursor: pointer;
    opacity: 1;
}

#explore .item__view-details i {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    margin-right: 7px;
}

#explore .item__view-details i::before {
    margin-top: -1px;
}

#explore .item__view-details span {
    color: #fff;
    font-size: 1.1em;
}

#explore .item__img {
    position: absolute;
}

#explore .explore-item--vfe34 .item__img {
    width: 110%;
    left: -20px;
    bottom: -100px;
}

#explore .explore-item--vf5 .item__img {
    bottom: -86px;
    left: -5px;
}

#explore .explore-item--vf8 .item__img {
    bottom: -65px;
}

#explore .explore-item--vf9 .item__img {
    bottom: -65px;
    width: 85%;
}

#explore .explore-item--vfe34:hover .item__img {
    width: 120%;
    transition: all .5s;
}

#explore .explore-item--vfe34:hover {
    background: url('../images/bg1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#explore .explore-item--vf5:hover {
    background: url('../images/bg2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#explore .explore-item--vf8:hover {
    background: url('../images/bg3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#explore .explore-item--vf9:hover {
    background: url('../images/bg4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#explore .explore-item--vf5:hover .item__img {
    width: 110%;
    transition: all .5s;
}

#explore .item__description {
    height: 180px;
    max-height: 180px;
    overflow: hidden;
}

#explore .explore-item--vf8:hover .item__img {
    width: 110%;
    transition: all .5s;
}

#explore .explore-item--vf9:hover .item__img {
    width: 95%;
    transition: all .5s;
}

@media(max-width: 992px) {
    #explore .explore-body {
        flex-wrap: wrap;
    }

    #explore .explore-item {
        width: 50%;
        flex: unset !important;
        margin-bottom: 40px;
    }

    #slider .slider-item-content {
        width: 65%;
        top: 16px;
        right: 16px;
    }

    #slider .content__header {
        font-size: 2em;
        display: block;
    }

    #slider .content__body {
        font-size: 14px;
    }
}

@media(max-width: 768px) {
    #slider .slider-item-content {
        width: 95%;
    }

    #slider .content__header {
        font-size: 1.2em;
    }

    #explore .explore__header span {
        font-size: .7em;
    }
}

@media(max-width: 576px) {
    #explore .explore-item {
        width: 100%;
    }

    #explore .item__description {
        max-height: unset;
        height: fit-content;
    }
}
